<h1>Inhaltsübersicht</h1>
<%= link_to 'Neuen Inhalt erstellen', new_wissensgebiete_fachmodul_lernmethoden_inhalt_path(@wissensgebiet,@fachmodul, @lernmethode) %>

<table>


  <% @inhalts.each do |inhalt| %>
    <tr>
      <td><%= inhalt.id %></td>
      <td><%= inhalt.titel %></td>
      <td><%= inhalt.inhalt %></td>
      <td><%= inhalt.gemeldet %></td>
      <td><%= link_to 'Inhalt bearbeiten', edit_wissensgebiete_fachmodul_lernmethoden_inhalt_path(@wissensgebiet,@fachmodul,@lernmethode,inhalt) %></td>
      <td><%= link_to 'Inhalt löschen',wissensgebiete_fachmodul_lernmethoden_inhalt_path(@wissensgebiet,@fachmodul,@lernmethode,inhalt),
                    method: :delete,
                    data: { confirm: 'Sind Sie sicher, dass Sie diesen Inhalt löschen möchten?' } %></td>
      <td><%= link_to 'Inhalt ansehen', wissensgebiete_fachmodul_lernmethoden_inhalt_path(@wissensgebiet,@fachmodul,@lernmethode,inhalt) %></td>


    </tr>
  <% end %>
</table>
  <%= link_to 'Zurück', wissensgebiete_fachmodul_path(@wissensgebiet,@fachmodul) %>
