<!--is index page from fachmoduls-->
<h1>Fachmodulübersicht</h1>
<%= link_to 'Neues Fachmodul erstellen', new_wissensgebiete_fachmodul_path(@wissensgebiet) %>

<table>


  <% @fachmoduls.each do |fachmodul| %>
    <tr>
      <td><%= fachmodul.id %></td>
      <td><%= fachmodul.titel %></td>
      <td><%= fachmodul.beschreibung %></td>

      <td><%= link_to fachmodul.benutzer.name, {:controller => "benutzer", :action => "show", :benutzer => fachmodul.benutzer.id }%></td>
      <td><%= link_to 'Fachmodul bearbeiten', edit_wissensgebiete_fachmodul_path(@wissensgebiet,fachmodul) %></td>
      <td><%= link_to 'Fachmodul löschen', wissensgebiete_fachmodul_path(@wissensgebiet,fachmodul),
              method: :delete,
              data: { confirm: 'Sind Sie sicher, dass Sie dieses Fachmodul löschen möchten?' } %></td>
      <td><%= link_to 'Lernmethodenübersicht', wissensgebiete_fachmodul_path(@wissensgebiet,fachmodul) %></td>



    </tr>
  <% end %>
</table>
<%= link_to 'Zurück', wissensgebiete_index_path %>
